.div-forcard {
    height: 400px;
    width: 500px;
    align-self: center;
}

.div-card {
    height: 200px;
    width: 400px;
    background-color: aquamarine;
}

.div-cardspace {
    display: flex;

}

.div-cardnav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-cardbutt {
    display: flex;
    justify-content: space-around;
}

.collapsible {
    background-color: burlywood;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
