.words-edition {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.words-edition div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    width: 200px;
    height: 50px;
    border-radius: 0;
    cursor: pointer;
    background-color: #f1f1f1;
}

.words-edition div a {
    text-decoration: none;
    color: black;
}

.words-edition div:hover {
    background-color: #dee3e4;
}

.allWordsHereTable {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



