.page-layout {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}

.pl-header{
    height: 50px;
}

.pl-child {
    display: flex;
    justify-content: center;
    height: 90%;
 }

.pl-footer{
    height: 50px;
}
